.dashboard-table__nav
    a(href="#" class="table-pagination-prev") !{"<"}
    a(href="#" class="active") !{"1"}  
    a(href="#") !{"2"}  
    a(href="#") !{"3"}  
    a(href="#") !{"4"}  
    a(href="#") !{"..."}  
    a(href="#") !{"40"}  
    a(href="#" class="table-pagination-next") !{">"}